<% content_for :sidebar do -%>   
<ul id='pages'> 
    <% @pages.each do |page| -%> 
	    <% content_tag_for :li, page,:class => 'page-title' do -%>
			 <span class="handle"><%=image_tag('bg/hand-cursors.jpg')%></span><%=link_to page.name,edit_admin_page_path(page) %> <%=link_to image_tag('bg/delete.png'),admin_page_path(page),:method => :delete,:confirm => '你确定嘛?'%>
		<% end -%>  
	   <% page.children.find(:all,:order => 'position ASC').each do |child| -%> 
			<% content_tag_for :li, child do -%>
	   			<span class="handle"><%=image_tag('bg/hand-cursors.jpg')%></span><%=link_to child.name,edit_admin_page_path(child) %> <%=link_to image_tag('bg/delete.png'),admin_page_path(child),:method => :delete,:confirm => '你确定嘛?'%>
	   		<% end -%>
		<% end -%>     
	<% end -%>
	
<% end -%>  
</ul>       
<%= sortable_element("pages", :url => sort_admin_pages_path, :handle => "handle") %>     
<div style='text-align:left;' id='btn'>
	<%=pretty_button '新建页面',new_admin_page_path,:id => 'big-btn' %>
</div>     



