<li> 
<%=link_to image_tag(comment.user.avatar.url(:thumb)),comment.user %>
<%=link_to h(comment.commentable.user.login),comment.user %> <%=link_to h(comment.commentable.title),comment.commentable,:class => 'post-title' %>
<p class='post-content'><%=truncate(strip_tags(comment.commentable.body),:length => 75)%></p>  
<p><span class='time'><%= time_ago_in_words_or_date(comment.commentable.created_at) %></span> 你在 <%= comment.created_at.to_s(:short) %> 评论过,<%= comment_status(comment) %> </p>
</li>
