
	<tr>
	<td valign="top" style='text-align:center'><%=link_to image_tag(comment.user.avatar.url(:medium)),comment.user %><br /><b><%=link_to h(comment.user.login),comment.user %></b></td>
	<td> 
	 <span style='color:#999999'><%= time_ago_in_words_or_date(comment.created_at) %> </span>    
	<p><%= comment.comment %> </p>   
	<% restrict_to "(editor | superuser)" do %> 
		<%=pretty_button '删除',admin_comment_path(comment),:method => :delete %>
	<% end %>
	</td>
	</tr>                                                               
