<% content_for :header do -%>  
	<script type="text/javascript" charset="utf-8">       
	 $(document).ready(function() {
		$('#tabs').tabs({spinner:'载入中...'});
	 });      
	
	</script>               
<% end -%>   

<div style='text-align:right;' id='btn'>
	<%=pretty_button '发帖',new_post_path,:id => 'big-btn' %>
</div>
 
<div id="tabs" >
  <ul> 
	 	<li><%=link_to content_tag(:span,'全部'),posts_path %></li>
	  	<% if logged_in? -%>
		<li><%=link_to content_tag(:span,'我发的'),user_posts_categories_path %></li>
		<li><%=link_to content_tag(:span,'我评论过的'),user_comments_categories_path %></li>
		<% end -%>
		<% Category.ordered.each do |cate| -%>
      		<li><%=link_to content_tag(:span,cate.name), cate %></li>
		<% end -%>
  </ul> 
	 <div id="tabs-content">  
    
	</div>
</div>   



