<h1>最新讨论</h1>
<ul class='posts'>
	<%=render :partial => 'posts/post',:collection => @posts %>
</ul>         
<div id="load-more"> 
	<%=link_to '更多讨论条目',posts_path %>
</div>
<h1>最新推荐条目</h1>  
<ul class='posts'>
	<%=render :partial => 'recommands/recommandation', :collection => @recommandation %>
</ul>  
<div id="load-more"> 
	<%=link_to '更多推荐条目',recommands_path %>
</div>  
<h1>最新工作机会</h1>  
<table border="0" cellspacing="5" cellpadding="5" style='width:100%;text-align:center;'>
<%=render @jobs %>  
</table>
	
<div id="load-more"> 
	<%=link_to '更多工作机会',jobs_path %>
</div>