<% content_for :sidebar do -%>
	<%= render :partial => 'users/setting'%>
<% end -%>
<h1>修改密码</h1> 
<b>密码最短为六位</b>
<% form_for @user,:url => update_password_user_path(@user) do |f| -%> 
  <%= f.password_field :current_password,:label => '现密码' %>
  <%= f.password_field :password,:label => '密码' %>
  <%= f.password_field :password_confirmation,:label => '密码确认'  %>
  <%= f.submit "提交" %>
<% end -%>