<h1>注册</h1>                                             
<% if false -%>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path,:html => {:id => 'form'} do |f| -%>

<%= f.text_field :login,:label => '用户名' %>
<%= f.text_field :email,:label => '电子邮件' %>
<%= f.password_field :password,:label => '密码' %>
<%= f.password_field :password_confirmation,:label => '确认密码' %>
<%= submit_tag '注册' %>
<% end -%>
<% end -%> 
<p><b>本站目前只对<%=link_to 'shanghaonrails','http://groups.google.com/group/shanghaionrails?hl=en'%>讨论组成员开放。<br />
	请加入此邮件组以申请帐号.
	</p>
