<% content_for :bread do -%> 
	<div id="bread">
		<%=link_to '首页',root_path %> >> <%=link_to h(@user.login),@user%>
	</div>
<% end %>
<h1><%=h @user.login %></h1>
<table border="0" cellspacing="5" cellpadding="5">
	<tr><td valign="top" width='80px' style='text-align:center'><%= image_tag @user.avatar.url(:medium) %> <br /><b><%=h @user.profile.name %></b><br /><%= @user.posts.count %>篇帖子<br />
	<%= @user.comments.count %>次回复</td>
		<td>           
		<h2><%=h @user.profile.name%></h2>
		<h3>个人资料</h3>
		网站:<%= @user.profile.website %><br />
		所在地: <%= I18n.t @user.profile.country, :scope => 'countries' %> <%=h @user.profile.state %> <%=h @user.profile.city %>  <br />
		兴趣爱好:<%=@user.profile.interesting%>
		<h3>工作信息</h3> 
		工作经验:<%=h @user.profile.work_experience %><br />  
		目前公司:<%=h @user.profile.company %><br /> 
		职位:<%=h @user.profile.title %><br />
		类别:<%=h @user.profile.company_category %> <br />规模: <%=h @user.profile.company_size %> <br />
		行业:<%=h @user.profile.industry %>       
		<% if false -%>
		<h3>职业技能</h3>
		<%@user.skills.each do |skill| -%>
		<%=link_to "#{h(skill.experience_by_year)}年#{h(skill.name)}经验",user_skill_path(@user,skill)%> 
		<% end -%>  
		<% end -%>
		<h3>个人介绍</h3>
		<p>
		<%=simple_format(@user.profile.desc) %>
		</p>
		</td>
	</tr>
</table>



