<div style='text-align:right;' id='btn'>
	<%=pretty_button '新建活动',new_event_path,:id => 'big-btn' %>
</div>

<h1>Events#index</h1>
<table border="0" cellspacing="0" cellpadding="0" style='width:100%;' >
	<thead>
		<tr>
		 <th>名称</th>
		 <th>地址</th>
		 <th>时间</th>
			<th></th>
	   </tr>
	</thead>
    <tbody>
	<% @events.each do |event| -%>
		<tr>
			<td><%=link_to event.name,event %></td> 
			<td><%= event.address %></td> 
			<td><%= event.start_date %></td> 
			<td> 
			<%=long_pretty_button '编辑', edit_event_path(event)%>  
			
			<% if event.state == 'public' -%>
			<%=long_pretty_button '关闭',close_event_path(event),:method => :put %>
			<% end -%>     
			<% if event.state == 'pending' %>
			<%=long_pretty_button '删除',event,:method => :delete, :confirm => '你确定嘛?' %>
			<% end %>
			</td> 
		</tr>
	<% end %>
	</tbody>
</table>
