<tr class="<%= cycle("even", "odd") -%>">  
	<td><%=link_to h(post.title),post,:target => '_blank' %> </td>
	<td><%= cate(post) %></td>
	<td><%=link_to h(post.user.login),post.user %></td>
	<td><%= time_ago_in_words_or_date(post.created_at) %></td>
	<td><%=post.comments_count%></td>
	<td><%=long_pretty_button '编辑',edit_admin_post_path(post)%><%= long_pretty_button "删除",admin_post_path(post),:method => :delete%></td>
</tr>
