<h1>管理分类</h1> 
注: 类型qa为问答模块
<ul id="categories">       
	<% for category in @categories -%>
		<% content_tag_for :li, category do %>
    	<span class="handle"><%=image_tag('bg/hand-cursors.jpg')%></span>
    	<span class='name'><%=link_to category.name,edit_admin_category_path(category) %></span>（<%=category.kind%>） <%=link_to image_tag('bg/delete.png'),admin_category_path(category),:method => :delete,:confirm => '你确定嘛?' %>
  		<% end %> 
    <% end -%>
<li>                

<%= sortable_element("categories", :url => sort_admin_categories_path, :handle => "handle") %>
<h2>新建分类</h2>
<% form_for @category,:url => admin_categories_path do |f| -%>    
  <%= error_messages_for :category %>
  <%= render :partial => 'form',:locals => {:f => f }%>     
  <%= f.submit "提交" %>
<% end -%>       
