<li>    
<%=image_tag post.user.avatar.url(:thumb) %>
<%=link_to h(post.user.login),post.user %> <%= cate_lable(post) %> <%=link_to h(post.title),post,:class => 'post-title' %>
<p class='post-content'><%=truncate(strip_tags(post.body),:length => 75)%></p>  
<p><span class='time'><%= time_ago_in_words_or_date(post.updated_at) %></span><%=post.comments_count%>评论 </p>
</li>