<% content_for :sidebar do -%>
<h2>查找用户</h2>     
<% form_tag(search_admin_users_path, {:method => :get}) do %> 
	<p>字段: <br />
	<%=select_tag :column,"<option value='login'>login</option><option value='email'>email</option>"%></p>
    <p> like<br /> <%= text_field_tag :query,params[:query] %>  </p>
	<%=submit_tag '提交'%>
<% end -%>
<% end -%>

   
<h2>所有用户</h2>     
<table border="0" cellspacing="1" cellpadding="0" style='text-align:center' id='user_list' class='tablesorter'> 
	<thead>
		<th><%=sortable_link('login',admin_users_path,'login')%></th> 
		<th><%=sortable_link('email',admin_users_path,'email')%></th> 
		 <th>count</th> 
		 <th>Option</th> 
	</thead>
	<tbody> 
<%=render @users %>
</tbody>
</table>

<%= will_paginate @users,:previous_label => '<前页',:next_label => '后页>',:params => {:login => @login } %>   
