<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">   
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= '亩塘 | ' + h(@page_title) %></title>   
	<%= javascript_include_tag :defaults %>    
	<%= javascript_include_tag 'pretty-buttons' %>
	<%= stylesheet_link_tag 'pretty-buttons','ui-theme','admin' %>   
	<%= yield :header %>            
</head>
<body>
	<div id="container">
	   <div id="header">
		<div class='logo'>
		   <%=link_to image_tag('logo.png'),root_path%>
		</div> 
		<div class='system_menu'>
			<%=link_to '首页', admin_path %> 
			<%=link_to '管理帖子',admin_posts_path %>
			<%=link_to '管理用户',admin_users_path %>
			<%=link_to '管理权限',admin_roles_path %>
			<%=link_to '管理工作机会',admin_jobs_path %> 
		</div>        

		<div class='user_menu'> 
			<% if logged_in? -%>
			<%=link_to '返回',root_path %>
			<%=link_to nickname_of(current_user),current_user %> 
			<%=link_to '设置',edit_user_profile_path(current_user) %>   
			<%=link_to '注销',logout_path %> 
			<% end %>
		</div>
	   </div>                    
	   <div id="body" class='ui-corner-all'> 
		 <%= render :partial => '/shared/notice' %> 
		                
		 <div id="navs">        
			<%= yield :sidebar %>
	   	 </div>
	 <div id="content">  
		 <%= yield :bread %>       
		   <%= yield %> 
		</div> 
		  <div style="clear:both"></div>    
	   </div> 
 	<%=render :partial => '/shared/footer' %>  
	</div>
</body> 
</html>