<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= '亩塘 | ' + h(@page_title) %></title>   
	<%= render :partial => 'shared/scripts_and_tags' %>             
</head>
<body>
	<div id="container">
	   <div id="header">
		<%= render :partial => 'shared/header' %>
	   </div>                    
	   <div id="body" class='ui-corner-all'> 
		 <%= render :partial => '/shared/notice' %>
		 <%= yield :group_header %>
		 <div id="content"  >  
		   <%= yield :bread %>   
		   <%= yield %>
		 </div>
	   	 <div id="sidebar">   
		   	<% if controller.controller_path =~ /admin*/ -%>
	   	 	<div class='box menu'>
			  <%=link_to '管理帖子',admin_posts_path %>
			  <%=link_to '管理分类',admin_categories_path %>
			  <%=link_to '管理用户',admin_users_path %>
			  <%=link_to '管理权限',admin_roles_path %>  
			 <div style="font: 0px/0px sans-serif;clear: both;display: block"> </div> 
	   	 	</div>     
			<% else -%> 
			  <% if logged_in? %>      
			<div class='box menu'>
			   <%=link_to '我的帖子',posts_user_path(current_user) %>
			   <%=link_to '我的评论',comments_user_path(current_user) %>
			<div style="font: 0px/0px sans-serif;clear: both;display: block"> </div>
			</div>           
				<% end %>
			<div class='box'>
				<%= Post.count %>个帖子,<%= Comment.count %>篇回复<br />
				<%= User.count %>名用户
	   	 	</div>
		   	<% end -%>
	   	 </div>   
		  <div style="font: 0px/0px sans-serif;clear: both;display: block"> </div>   
	   </div> 
 	<%=render :partial => '/shared/footer' %>  
	</div>
</body> 
</html>