<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= '亩塘 | ' + 'Shanghaionrails' %></title>
	<%= auto_discovery_link_tag(:rss, posts_url(:format => 'rss')) %>
    <%= render :partial => 'shared/scripts_and_tags' %> 
</head>
<body>
	<div id="container">
	   <div id="header">
		<%= render :partial => 'shared/header' %>
	   </div>                    
	   <div id="body" class='ui-corner-all'> 
		 <%= render :partial => '/shared/notice' %>
		 <%= render :partial => '/shared/group_header' %>
		 <div id="content">  
		   <%= yield :bread %>
		   <%= yield %>  
		 </div>
	   	 <div id="sidebar" class='ui-corner-all'>      
		     <div class='box'>
		     	<%= Post.count %>个帖子,<%= Comment.count %>篇回复<br />
		     	<%= User.count %>名用户
	   	     </div> 
			 	<%=link_to image_tag('group/rcc_logo.png', :size => "150x90"),'http://www.rubyconfchina.org',:target => '_blank'%> <br />
				<%=link_to image_tag('group/kungfu_rails_logo_big.png', :size => "160x80"),'http://kungfurails.com',:target => '_blank'%>
	   	 </div>   
		  <div style="font: 0px/0px sans-serif;clear: both;display: block"> </div>   
	   </div> 
	   <%=render :partial => '/shared/footer' %>
	</div>  
</body>
</html>