<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= '亩塘 | ' + 'Shanghaionrails' %></title>
	<%= auto_discovery_link_tag(:rss, posts_url(:format => 'rss')) %>
    <%= render :partial => 'shared/scripts_and_tags' %> 
</head>
<body>
	<div id="container">
	   <div id="header">
		<%= render :partial => 'shared/header' %>
	   </div>                    
	   <div id="body" class='ui-corner-all'> 
		 <%= render :partial => '/shared/notice' %>
		 <%= render :partial => '/shared/group_header' %>  
		 <div id="navs" class='ui-corner-all'> 
			<h4>导航栏</h4>
		 	<div class='nav_box'>
				<ul>
					<%=topnav_tab "讨论区(#{Post.count}/#{Comment.count})",:url => posts_path,:section => 'bbs' %>
					<%=topnav_tab "阅读推荐(#{Recommand.count})",:url => recommands_path,:section => 'recommands' %>
					<%=topnav_tab "工作机会(#{Job.visible.count})",:url => jobs_path,:section => 'jobs' %>
					<%=topnav_tab "活动(#{Event.opened.count})",:url => events_path,:section => 'events' %>
					<div style="clear: both;display: block"> </div> 
				 </ul>      
		 	</div>        
			<h4>置顶帖子</h4>
            <div class="box">
				<ul>
            	<% Post.top_five.each do |post| -%>
				   <li><%=link_to h(post.title),post %></li>
				<% end -%>
				</ul> 
            </div> 
	   		<h4>最新工作机会</h4>
	            <div class="box">
					<ul>
	            	<% Job.top_five.each do |job| -%>
					   <li><%=link_to h(job.position),job %></li>
					<% end -%>
					</ul> 
	            </div>
			<% if false %>      
						<h4>优秀会员</h4>   
			<div class='nice_member' >
				<ul> 
					<% User.prestiged.each do |user| -%>
					<li><%=link_to image_tag(user.avatar.url(:medium)),user%><br /><%=link_to h(user.login),user%></li>
					<% end %>
					<div style="clear: both;display: block"> </div> 
				 </ul>      
		 	</div> 
		<% end %>  
		 </div>
		 <div id="content">   
		   <%= yield :bread %>   
		   <%= yield %>  
		 </div>
	   	 <div id="sidebar" class='ui-corner-all'>      
			 	<%=link_to image_tag('group/rcc_logo.png', :size => "150x90"),'http://www.rubyconfchina.org',:target => '_blank'%> <br />
				<%=link_to image_tag('group/kungfu_rails_logo_big.png', :size => "160x80"),'http://kungfurails.com',:target => '_blank'%>
	   	 </div>   
		  <div style="clear: both;display: block"> </div>   
	   </div> 
	   <%=render :partial => '/shared/footer' %>
	</div>  
</body>
</html>